services:
  api:
    build:
      context: ..
      dockerfile: deploy/rails/Dockerfile
    command: bundle exec rails server -b 0.0.0.0
    depends_on:
      - db
      - frankfurter
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: franknfurter_development
      DATABASE_PASSWORD: password
      DATABASE_PORT: 5432
      DATABASE_USERNAME: username
      FRANKFURTER_HOST: frankfurter
      FRANKFURTER_PORT: 8080
    networks:
      franknfurter:
        ipv4_address: 10.0.0.11
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    volumes:
      - ..:/app

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: franknfurter_development
      POSTGRES_PASSWORD: password
      POSTGRES_USER: username
    networks:
      franknfurter:
        ipv4_address: 10.0.0.12
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frankfurter:
    image: lineofflight/frankfurter
    networks:
      franknfurter:
        ipv4_address: 10.0.0.13
    ports:
      - "8080:8080"

  solid_queue:
    build:
      context: ..
      dockerfile: deploy/rails/Dockerfile
    command: bundle exec rake solid_queue:start
    depends_on:
      - db
      - frankfurter
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: franknfurter_development
      DATABASE_PASSWORD: password
      DATABASE_PORT: 5432
      DATABASE_USERNAME: username
      FRANKFURTER_HOST: frankfurter
      FRANKFURTER_PORT: 8080
    networks:
      franknfurter:
        ipv4_address: 10.0.0.14
    volumes:
      - ..:/app

volumes:
  postgres_data:

networks:
  franknfurter:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
